.container {
    display: flex;
    flex-direction: column;
}
.texttabs {
    position: fixed; 
    width: 100%;
    /* 确保与Header无间距 */
    margin-top: 0;
    /* 移除可能的默认边框和内边距 */
    border: none;
    padding: 190px 0;
}

.navbar{
    position: fixed;
    top:50%
}
