.wrapper {
    position: fixed; /* static*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 60px;
    height: 60px;
  }
  
  .wrapper div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px; /* 半个宽度 */
    margin-left: -8px; /* 半个高度 */
    border-radius: 50%;
    background: #ff6726;
    animation: lds-rotate 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  
  .wrapper div:nth-child(2) {
    animation-delay: -1s;
    background: #ff005e;
  }
  
  @keyframes lds-rotate {
    0%, 100% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(35px, 0) rotate(360deg);
    }
  }